@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.bg-ungu {
  background: #581c87;
}
.bg-orange {
  background: #f59e0b;
}
.text-oren {
  color: #f59e0b;
}
.bg-gradient {
  background: linear-gradient(to bottom, #581c87, #a34ff2);
}
.layout {
  @apply px-5 md:px-[100px] lg:px-[300px];
}
.header {
  @apply text-[18px] text-[#f59e0b] font-bold text-center my-5 underline;
}
